<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css"/>

<style>
  #fullscreen-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
  }

  #firebaseui-auth-container {
    margin-top: 10vh;
  }
</style>

<section id="fullscreen-login">
  <div>
    A single-page note taking tool.
    <br> <br>
    Because all your thoughts are connected.
  </div>
  <div id="firebaseui-auth-container">
    <span *ngIf="showSpinner" class="spinner"></span>
  </div>
</section>
