<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

<style>
  #fullscreen-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  #firebaseui-auth-container {
    margin-top: 10vh;
  }

  #loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
</style>

<section id="fullscreen-login">
  <div>
    A single-page note taking tool.
    <br> <br>
    Because all your thoughts are connected.
  </div>
  <div id="firebaseui-auth-container">
    <span *ngIf="showSpinner" id="loading"></span>
  </div>
</section>
